*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

/* responsive mobile devices */
@media screen and (max-width:576px) {
    /* ===responsive banner section */
    .banner-container{
        width: 576px;
        flex-direction: column;
        justify-content: center;
    }
    .banner-text-container{
        width:576px;
    }
    .banner-text-container h1{
        font-size:3rem;
        font-weight: 700;
        margin:30px;
    }
    .banner-text-container p{
        margin:30px 50px 20px 30px;
    }
    .banner-text-container button{
    width:200px;
    margin: 30px 0 20px 30px;
    }
    /* banner image section */
    .banenr-image-container{
        width:576px;
    }
    .banner-image-container img{
        width: 350px;
        height: 400px;
        margin: 30px;
        margin:30px 0 20px 30px;
    }
    /* ===responsive feature section=== */

    .feature-container{
        width:576px;
    }
   .feature-img-container{
    width: 576px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   }
   .first-img{
    width: 300px;
    height: 400px;
   }
   .second-img{
    width: 300px;
    height: 400px;
    margin-top: 30px;
   }
   .third-img{
    width: 300px;
    height: 350px;
    margin-top:30px;
   }
.feature-img-container img{
width: 200px;
height: 250px;
padding-top:20px;
}

/* ====responsive mini section style start====*/
.mini-container{
    width:576px;
}
.mini-img-container{
flex-direction: column;
justify-content: center;
align-items: center;

}
.mini-img-1 img{
    padding-left: 60px;
}
.mini-img-2 img{
padding-top:70px;
padding-left: 55px;
}
.mini-img-3 img{
padding-top:70px;
}

/* ====responsive hot deal section stert==== */
.hot-deal-container{
    width:576px;
    flex-direction: column-reverse;
    margin-top:30px;
}
.hot-deal-text-container{
width: 500px;
margin:0;
padding-left: 100px;
}
.hot-deal-text-container button{
    width:50%;
    margin-top:40px
}
}